@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;800&family=Russo+One&display=swap');

/*Body*/

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
}


/* Header and nav bar*/

header {
    background-color: #fffffff2;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    z-index: 2;
}

#logo {
    opacity: 0.7;
    margin-top: 25px;
}

header>a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
    text-decoration: none;
    letter-spacing: 8px;
    line-height: 0;
    font-size: 10px;
}

header>nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    padding: 0%;
    margin-top: 8px;
}

header>nav {
    border-bottom: 2px solid #808080;
    height: 32px;
}

header>nav a {
    color: black;
    text-decoration: none;
}

header>nav a:hover {
    font-weight: 800;
}

/* Biggest Challenges section */

#biggest-challenges {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    font-size: 12px;
    background: url('../images/mars-planet.avif') no-repeat center center;
    background-size: cover;
}

#biggest-challenges>div {
    padding: 10px;
    letter-spacing: 1px;
}

#biggest-challenges h2 {
    letter-spacing: 4px;
}

#radiation {
    background-color: #e2d0b1b3;
    margin-top: 73px;
}

#atmosphere {
    background-color: #c07161b3;
}

#water {
    background-color: #6b81c3b3;
}


/* Going To Mars section */

#going-to-mars {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    font-size: 12px;
    background: url('../images/mars-land_2.avif') no-repeat center center;
    background-size: cover;
}

#going-to-mars>div>div {
    margin: 20px;
    padding: 10px;
    letter-spacing: 1px;
    background-color: #c07161b3;
    border-radius: 25px;
}

#going-to-mars h2 {
    letter-spacing: 9px;
    position: relative;
    margin-top: 80px;
}

.text-left {
    text-align: left;
    list-style-type: disclosure-closed;
}

/* Sign Up section */

#sign-up {
    font-size: 11px;
    background: url('../images/mars-rover.jpeg') no-repeat center center;
    background-size: cover;
}

#sign-up>div {
    text-align: center;
    margin: 3px;
    margin-bottom: 20%;
    letter-spacing: 1px;
}

#sign-up h2 {
    letter-spacing: 9px;
    opacity: 0.7;
}

#sign-up h3 {
    margin-top: -10px;
    opacity: 0.6;
}

#sign-up form {
    display: flex;
    flex-direction: column;
    background-color: #e2d0b1b3;
    margin: auto;
    margin-top: 10%;
    border-radius: 10px;
    width: 90%;
    align-items: center;
}

.text-input {
    opacity: 0.8;
    width: 50%;
}

.join-button {
    width: 50%;
    font-size: 20px;
    margin: 5%;
}

/* Footer section */

footer {
    justify-content: space-around;
    text-align: center;
    background-color: #fffffff2;
    line-height: 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 3px;
    padding: 0;
    list-style-type: none;
    font-size: 30px;
}

.social-media a {
    color: #000000cc;
}

/* Style for confirmation.html page */

#confirmation {
    background: url('../images/mars-2.avif') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 78em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#thanks {
    display: flex;
    height: 63px;
    width: 268px;
    background-color: #e2d0b1b3;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-bottom: 600px;
    font-size: 18px;
}

.hide {
    visibility: hidden;
}

/* for medium screen sizes from 900px wide and down */

@media screen and (min-width: 900px) {

    #biggest-challenges {
        flex-direction: row;
        height: 600px;
        font-size: 13px;
    }

    #biggest-challenges>div {
        width: 30%;
        border-radius: 10px;
        margin: 14px;
        margin: 100px 20px 30px;
    }

    #going-to-mars {
        font-size: 14px;
    }

    #going-to-mars>div {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    #going-to-mars>div>div {
        width: 40%;
        height: 20%;
    }

    .when-why-data {
        display: flex;
        flex-direction: column;
        flex-basis: content;
        width: 50%;
    }

    #sign-up {
        font-size: 14px;
    }

    #sign-up form {
        width: 50%;
    }
}