@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;800&family=Russo+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
/* Body */

body {
    display: flex;
    flex-direction: column;
    padding: 1%;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    color: black;

}

body > h1, h2, h3 {
    font-weight: 800;
    text-align: center;

}

/* headings and logo */

header {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 1%;
}

header a {
    text-decoration: none;
    color: #8B8399;
    padding: 2px;
}

#logo {
    letter-spacing: 8px;
}
nav {
    width: 300px;
    align-items: center;
    text-align: center;
}
#menu li {
    list-style-type: none;
    letter-spacing: 1px;
    padding: 1px;
    font-size: small;
    border: solid 1px black;
    border-radius: 5px;
    margin: 5px;
}

#menu {
    display: flex;
    flex-direction: row;
}

