@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;800&family=Russo+One&display=swap');


/* Body */

body {
    display: flex;
    flex-direction: column;
    padding: 1%;
    align-items: center;
    font-family: 'Orbitron', sans-serif;

}

body > h1, h2, h3 {
    font-weight: 800;
    text-align: center;

}

/* headings and logo */

header {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    color: black;
}

#logo {
    letter-spacing: 10px;
}
nav {
    width: 50%;
    align-items: center;
    letter-spacing: 2px;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

